@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default;
}
.performance-digital,
.clics,
.likes,
.dashboards,
.estrategia-datos,
.mejora-continua,
.inversion,
.negocio,
.capitan-lott,
.performance-digital-2,
.con-impacto-real{
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% auto;
}
.performance-digital {
    background-image: url('/underlines/performance-digital.svg');
    padding-bottom: .7rem;
}

.clics{
    background-image: url('/underlines/clics.svg');
    padding-bottom: .2rem;
}

.likes{
    background-image: url('/underlines/likes.svg');
    padding-bottom: .2rem;
}

.dashboards{
    background-image: url('/underlines/dashboards.svg');
    padding-bottom: .2rem;
}

.estrategia-datos{
    background-image: url('/underlines/estrategia-datos.svg');
}

.mejora-continua{
    background-image: url('/underlines/mejora-continua.svg');
}

.inversion{
    background-image: url('/underlines/inversion.svg');
}

.negocio{
    background-image: url('/underlines/negocio.svg');
}

.capitan-lott{
    background-image: url('/underlines/capitan-lott.svg');
}
.performance-digital-2{
    background-image: url('/underlines/performance-digital-2.svg');
}
.con-impacto-real{
    background-image: url('/underlines/con-impacto-real.svg');
}

.silueta{
    background-image: url('/images/silueta.svg');
}
@font-face{
    font-family: "Touche Italic";
    src: url("/fonts/touche-italic.eot");
    src: url("/fonts/touche-italic.eot?#iefix")format("embedded-opentype"),
    url("/fonts/touche-italic.woff")format("woff"),
    url("/fonts/touche-italic.woff2")format("woff2"),
    url("/fonts/touche-italic.ttf")format("truetype"),
    url("/fonts/touche-italic.svg#Touche Italic")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

@font-face{
    font-family: "Touche Light";
    src: url("/fonts/touche-light.eot");
    src: url("/fonts/touche-light.eot?#iefix")format("embedded-opentype"),
    url("/fonts/touche-light.woff")format("woff"),
    url("/fonts/touche-light.woff2")format("woff2"),
    url("/fonts/touche-light.ttf")format("truetype"),
    url("/fonts/touche-light.svg#Touche Light")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

@font-face{
    font-family: "Touche Light Italic";
    src: url("/fonts/touche-light-italic.eot");
    src: url("/fonts/touche-light-italic.eot?#iefix")format("embedded-opentype"),
    url("/fonts/touche-light-italic.woff")format("woff"),
    url("/fonts/touche-light-italic.woff2")format("woff2"),
    url("/fonts/touche-light-italic.ttf")format("truetype"),
    url("/fonts/touche-light-italic.svg#Touche Light Italic")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

@font-face{
    font-family: "Touche Medium";
    src: url("/fonts/touche-medium.eot");
    src: url("/fonts/touche-medium.eot?#iefix")format("embedded-opentype"),
    url("/fonts/touche-medium.woff")format("woff"),
    url("/fonts/touche-medium.woff2")format("woff2"),
    url("/fonts/touche-medium.ttf")format("truetype"),
    url("/fonts/touche-medium.svg#Touche Medium")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

@font-face{
    font-family: "Touche Medium Italic";
    src: url("/fonts/touche-medium-italic.eot");
    src: url("/fonts/touche-medium-italic.eot?#iefix")format("embedded-opentype"),
    url("/fonts/touche-medium-italic.woff")format("woff"),
    url("/fonts/touche-medium-italic.woff2")format("woff2"),
    url("/fonts/touche-medium-italic.ttf")format("truetype"),
    url("/fonts/touche-medium-italic.svg#Touche Medium Italic")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

@font-face {
    font-family: 'Touche Bold Italic';
    src: url('/fonts/touche-bold-italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Touche Bold';
    src: url('/fonts/touche-bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Touche SemiBold';
    src: url('/fonts/touche-semibold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Touche SemiBold Italic';
    src: url('/fonts/touche-semibold-italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@theme {
    --font-toucheLight: "Touche Light", sans-serif;
    --font-toucheLightItalic: "Touche Light Italic", sans-serif;
    --font-toucheItalic: "Touche Italic", sans-serif;
    --font-toucheMedium: "Touche Medium", sans-serif;
    --font-toucheMediumItalic: "Touche Medium Italic", sans-serif;
    --font-toucheBoldItalic: "Touche Bold Italic", sans-serif;
    --font-toucheBold: "Touche Bold", sans-serif;
    --font-toucheSemiBold: "Touche SemiBold", sans-serif;
}

 :root {
     --slide-width: 150px;
     --slide-height: 150px;
     --total-slides: 12; /* Number of items */
     --animation-duration: 30s;
     --spacing-slider: 50px; /* Spacing between items */
 }

.slider {
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: var(--slide-height);
    margin-top: 2rem;
    overflow: hidden;
    mask-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 0)
    );
}

@keyframes scrollLeft {
    to {
        left: calc((var(--slide-width) + var(--spacing-slider)) * -1);
    }
}

.item {
    width: var(--slide-width);
    height: var(--slide-height);
    border-radius: 6px;
    position: absolute;
    left: calc((var(--slide-width) + var(--spacing-slider)) * var(--total-slides));
    animation-name: scrollLeft;
    animation-duration: var(--animation-duration);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: calc(var(--animation-duration) / var(--total-slides) * (var(--total-slides) - var(--n)) * -1);
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



.radio,.radio:checked {
    color: #666666;
    border-color: #666666;
}

.bg-step-1{
    background: #F8EC01;
    background: linear-gradient(0deg, rgba(248, 236, 1, 1) 0%, rgba(209, 223, 38, 1) 100%);
}

.bg-step-2{
    background: #D1DF26;
    background: linear-gradient(0deg, rgba(209, 223, 38, 1) 0%, rgba(163, 207, 84, 1) 100%);
}

.bg-step-3{
    background: #A3CF54;
    background: linear-gradient(0deg, rgba(163, 207, 84, 1) 0%, rgba(117, 192, 129, 1) 100%);
}

.bg-step-4{
    background: #75C081;
    background: linear-gradient(0deg, rgba(117, 192, 129, 1) 0%, rgba(70, 177, 175, 1) 100%);
}

.bg-step-5{
    background: #46B1AF;
    background: linear-gradient(0deg, rgba(70, 177, 175, 1) 0%, rgba(25, 162, 220, 1) 100%);
}
